body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline;
  margin: 0 10px;
}

a {
  text-decoration: none;
  color: white;
}

.white {
  color: white;
}

.section-padding {
  padding: 20px 15vw;
}

h1 {
  font-size: 48px;
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

.navigation {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

.hero {
  background-color: #1f2937;
  display: flex;
  height: 40vw;
  justify-content: space-between;
  align-items: center;
}

.hero_container {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.hero_header {}

.hero_description {}

.hero_description_text {
  line-height: 1.5;
}

.content {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100%;
  flex: 1;
}

.content_header {
  font-size: 28px;
  font-weight: 900;
  color: #1f2937;
  margin: 0;
  padding: 40px 0px;
  flex-wrap: wrap;
}

.content_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 5px;
  gap: 20px;
  flex-wrap: wrap;
}

.content_container_item {
  width: 200px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container_item_image {
  width: 150px;
  height: 150px;
  border: 5px solid #3882f6;
  border-radius: 10px;
}

.content_description {
  text-align: center;
  font-size: 18px;
}

.quote {}

.content_quote {
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vw;
  flex-direction: column;
}

.content_quote_text {
  margin: 20;
  font-size: 32px;
  font-style: italic;
  line-height: 1.4;
  color: #1f2937;
}

.content_author {
  align-self: flex-end;
  font-weight: bold;
  font-size: 24px;
}

.call_to_action {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vw;
}

.cta_container {
  background-color: #3872f6;
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 50px 80px;
  flex-direction: row;
  gap: 90px;
  border-radius: 20px;
}

.cta_description {}

.cta_description_text {}

.cta_button_container {
  display: flex;
  flex: 1;
}

.cta_button {
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px 30px;
  margin-left: 20px;
  background: none;
  color: white;
}

.footer {
  background-color: #1f2937;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0px;
}

.button {
  background-color: #3882f6;
  color: white;
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
}
